.header__lang-link {
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.16;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .7s ease;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 565px){
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}