@import url('__item/photo-grid__item.css');

.photo-grid {
  display: grid;
  margin: 0 auto 92px auto;
  max-width: 928px;
  width: 93.75%;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

@media screen and (min-width: 1200px) {
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 895px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 565px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin-bottom: 64px;
    width: 90%;
  }
}