@import url('__image/places__image.css');
@import url('__item/places__item.css');
@import url('__link/places__link.css');
@import url('__paragraph/places__paragraph.css');
@import url('__paragraphs/places__paragraphs.css');
@import url('__title/places__title.css'); 
@import url('__url-heading/places__url-heading.css');
@import url('__website/places__website.css');


.places {
  max-width: 928px;
  width: 93.75%;
  margin: 0 auto 92px auto;
}

@media screen and (min-width: 1200px) {
  .places {
    max-width: 984px;
  }
}

@media screen and (max-width: 895px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 565px){
  .places {
    margin-bottom: 64px;
    width: 100%;
  }
}