@import url('__list/intro__list.css');
@import url('__number/intro__number.css');
@import url('__text/intro__text.css');
@import url('__title/intro__title.css');

.intro {
    margin: 0 auto 92px auto;
    max-width: 928px;
    min-height: 428px;
    width: 93.75%;
    text-align: start;
}

@media screen and (min-width: 1200px) {
    .intro {
        max-width: 984px;
    }
}

@media screen and (max-width: 895px) {
    .intro {
        max-width: 720px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 565px){
    .intro {
        margin-bottom: 64px;
        width: 90%;
    }
}