.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 56px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  width: 83.25%;
}

@media screen and (min-width: 1200px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 745px){
  .lead__subtitle {
    font-size: 23px;
    line-height: 1.217;
  }
}

@media screen and (max-width: 565px){
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
} 