@import url('__link/cover__link.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__text/cover__text.css');
@import url('__title/cover__title.css');

.cover {
  max-width: 1184px;
  width: 100%;
  padding-bottom: 62.5%;
  height: 0;
  background-image: url(/images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 92px;
}

.cover:after {
  background-color: #2A2C2F;
  opacity: 0.3;
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 1s ease;
}

.cover:hover:after {
  opacity: .8;
} 

@media screen and (min-width: 1200px) {
  .cover {
    padding-bottom: 0;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 895px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 565px){
  .cover {
    margin-bottom: 64px;
  }
}